/* Css Vaiables */

:root {
--primary: rgb(190, 15, 15);
--primary-light: rgb(212, 47, 47);
--secondary: #000;
--light-dark: #3d3d3d;
--lighter-dark: #5e5d5d;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    text-decoration: underline;
    color: var(--primary);
}

/* Nav */

nav {
    display: flex;
    /* background-color: #3f3f3f; */
    background-color: var(--primary);
    color: #fff;
    line-height: 60px;
    padding: 0 30px;
}

nav > h2, p {
    margin: 0;
}

nav > p > a {
    color: #fff;
    padding: 10px;
    background-color: var(--secondary);
    border-radius: 2px;
}

nav > p > a:hover {
    color: #fff;
    text-decoration: none;
    background-color: var(--lighter-dark);
}

nav > h2 {
    margin-right: auto;
}

/* Blog List */

.content-wrapper {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0 30px;
    margin: 20px 0;
}

.content-wrapper > div {
    grid-column: 2;
    max-width: 780px;
    margin: 20px 0;
}

.content-wrapper > .breadcrumb {
    margin: 0;
}

.breadcrumb a {
    color: var(--primary);
}

.blog-item h2 a {
    color: var(--secondary);
    text-decoration: underline;
}

.blog-item h2 a:hover {
    color: var(--primary);
}

.blog-item .info {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--light-dark);
}

.blog-item p {
    line-height: 22px;
}


.pagination a {
    padding: 10px;
    background-color: var(--light-dark);
    color: #fff;
    text-decoration: none;
    border-radius: 2px;
}

.pagination a:hover {
    background-color: var(--primary);
}

.pagination .current {
    font-weight: 700;
}

/* Blog Table */

.blog-table h2 a {
    color: #fff;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 2px;
}

.blog-table h2 a:hover {
    background-color: var(--primary-light);
    text-decoration: none;
}

table {
    width: 100%;
    margin-top: 20px;
}

td, th {
    border: 1px solid #dddddd;
    /* text-align: left; */
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

td > a {
    color: #fff;
    padding: 3px 10px;
    background-color: var(--primary);
    border-radius: 2px;
}

td > a:hover {
    color: #fff;
    background-color: var(--primary-light);
    text-decoration: none;
}


/* Comments */

.comment {
    display: grid;
    grid-template-columns: 60px auto;
    margin: 30px 0;
    border-right: 3px solid #dfdfdf;
}

.comment img {
    width: 100%;
    padding-right: 10px;
}

.comment .info p:first-child {
    font-weight: 600;
}

.comment .info p:last-child {
    font-size: 14px;
}

.comment .info span {
    font-size: 12px;
    color: var(--lighter-dark);
}


/* Form */

.login-form {
    justify-self: center;
}

.login-form input[type="submit"] {
    width: 100% !important;
}

.form input, textarea, select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 2px;
    border: none;
    margin: 5px 0 20px 0;
    font-size: 16px;
    background: #f3efef;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.form textarea {
    height: 150px;
}

.form input[type="submit"] {
    background: var(--primary);
    color: white;
    width: auto;
}

.form input[type="submit"]:hover {
    background: var(--primary-light);
}
