{% extends 'blog/base.html' %}

{% block title %}
    {{ page_title }} - {{ block.super }}
{% endblock title %}

{% block content %}

    {% for post in posts %}
        <div class="blog-item">
            <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
            <div class="info">
                By <span><a href="#">{{ post.author }}</a></span> | In <span><a href="{% url 'post_by_category' post.category.pk %}">{{ post.category }}</a></span> | On <span>{{ post.pub_date }}</span> | &#x1f441 <span>{{ post.view_count }} Views</span> 
            </div>
            <p>     {{ post.content|truncatewords:30 }}      </p>
        </div>
    {% empty %}
        <div>
            <h3>There are no posts yet.</h3>
        </div>
    {% endfor %}

    {% include 'blog/pagination_links.html' %}

{% endblock %}