{% extends 'blog/base.html' %}

{% block content %}

    <div class="blog-item">
        <h2><a href="#">12 Gift ideas for Christmas</a></h2>
        <div class="info">
            By <span><a href="#">Jason Bateman</a></span> | In <span><a href="#">Holidays</a></span> | On <span>8 January 2018</span> | &#x1f441 <span>325 Views</span> 
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, et doloremque. Rem molestiae similique fugiat non, dolore labore accusantium officia tempora? Laborum optio itaque temporibus perferendis debitis. Vero, aperiam? Officia, dolor error nisi corporis harum....
        </p>
    </div>


    {% include 'blog/pagination_links.html' %}

{% endblock %}