{% extends 'blog/base.html' %}

{% load static %}

{% block breadcrumb %}{{ block.super }} > 12 Gift ideas for Christmas{% endblock %}

{% block content %}

    <div class="blog-item">
        <h2>12 Gift ideas for Christmas</h2>
        <div class="info">
            By <span><a href="#">Jason Bateman</a></span> | In <span><a href="#">Holidays</a></span> | On <span>8 January 2018</span> | &#x1f441 <span>325 Views</span> 
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, et doloremque. Rem molestiae similique fugiat non, dolore labore accusantium officia tempora? Laborum optio itaque temporibus perferendis debitis. Vero, aperiam? Officia, dolor error nisi corporis harum....
        </p>
    </div>

    <div class="form">
        <form method="" novalidate>
            <p><label for="">Comment</label> <textarea name="" id="" cols="30" rows="10"></textarea></p>
            
            <p><input type="submit" value="Submit"></p> 
        </form>
    </div>


    <div class="comments-list">
        <div class="comment">
            <img src="{% static 'blog/images/avatar.png' %}" alt="avatar">
            <div class="info">
                <p>John<span> . 3rd june 2017</span></p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis dolorem, provident itaque iste molestias minus mollitia dignissimos quidem quibusdam ea. Qui ratione commodi pariatur soluta voluptatibus minus sequi eum tempora ipsam beatae consequatur praesentium quia, odio recusandae reprehenderit. Non, iusto.</p>
            </div>   
        </div>
    </div>

{% endblock %}