{% extends 'blog/base.html' %}

{% load static %}

{% block breadcrumb %}{{ block.super }} > 12 Gift ideas for Christmas{% endblock %}

{% block content %}

    <div class="blog-item">
        <h2>{{ post.title }}</h2>
        <div class="info">
            By <span><a href="#">{{ post.author }}</a></span> | In <span><a href="#">{{ post.category }}</a></span> | On <span>{{ post.pub_date }}</span> | &#x1f441 <span>{{ post.view_count }} Views</span> 
        </div>
        <p>     {{ post.content }}      </p>
    </div>

    <div class="form">
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Submit"></p> 
        </form>
    </div>


    <div class="comments-list">
        {% for cmt in comments %}
            <div class="comment">
                <img src="{% static 'blog/images/avatar.png' %}" alt="avatar">
                <div class="info">
                    <p>{{ cmt.by }}<span> . {{ cmt.created_on }}</span></p>
                    <p>{{ cmt.content }}</p>
                </div>   
            </div>
        {% empty %}
            <div>
                <h3>There are no comments yet.</h3>
            </div>
        {% endfor %}
        
    </div>

{% endblock %}